@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #f8f8fa;
  --main-color: #ffffff;
  --point-color: #fcb523;

  --text-on-color: rgb(63 63 70 / 0.85);
  --text-off-color: rgb(209 213 219);

  --container-shadow: 0 25px 70px -12px rgba(27, 28, 31, 0.15);

  --default-layout-px: 2.5rem;
}
html.dark {
  --body-color: #323544;
  --main-color: #1c1e2a;
  --point-color: #6d64ed;

  --text-on-color: rgb(248, 248, 249);
  --text-off-color: #7b7b85;

  --container-shadow: 0 25px 70px -12px rgba(25, 28, 35, 0.4);
}
@layer base {
  @font-face {
    font-family: "Paperlogy-Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Paperlogy"), url("./assets/fonts/Paperlogy-3Light.ttf"), format("ttf");
  }
  @font-face {
    font-family: "Paperlogy-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Paperlogy"), url("./assets/fonts/Paperlogy-4Regular.ttf"), format("ttf");
  }
  @font-face {
    font-family: "Paperlogy-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Paperlogy"), url("./assets/fonts/Paperlogy-5Medium.ttf"), format("ttf");
  }
  @font-face {
    font-family: "Paperlogy-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Paperlogy"), url("./assets/fonts/Paperlogy-6SemiBold.ttf"), format("ttf");
  }
  @font-face {
    font-family: "Paperlogy-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Paperlogy"), url("./assets/fonts/Paperlogy-7Bold.ttf"), format("ttf");
  }

  @font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Roboto-Regular.ttf"), format("ttf");
  }
  @font-face {
    font-family: "NotoSans-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/NotoSansKR-Regular.ttf"), format("ttf");
  }
  html,
  body {
    @apply font-paperlogy-Regular;
    @apply text-zinc-500;
    @apply tracking-wider;
  }

  .item-list-body::-webkit-scrollbar {
    @apply w-2;
    @apply bg-transparent;
  }
  .item-list-body::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .item-list-body::-webkit-scrollbar-thumb {
    @apply bg-zinc-200;
    @apply w-2;
    @apply rounded-md;
  }
  .item-list-body::-webkit-scrollbar-button {
    @apply hidden;
  }
}
